@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body {
  background-color: #32120c;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.bg {
  height: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.37);
}

.donut__text {
  margin: -38px auto;
  margin-left: -4px;
  padding-top: 8px;
  text-align: center;
  font-weight: 800;
  font-size: 92px;
  text-shadow: 10px 7px 0px rgba(255, 255, 255, 0.15),
    5px 4px 0px rgba(255, 255, 255, 0.25);
}

.button {
  padding: 0;
  margin: 0;
  border: none;
}

.button__start {
  font-weight: 800;
  margin: 0 auto;
  max-width: 140px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
  color: #32120c;
}

.button__arrow {
  padding-left: 10px;
}

.social {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  background-color: #eae5de;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.donut__image-container {
  position: relative;
  margin-bottom: 20px;
}

.donut__img {
  margin-bottom: 80px;
}

.donut__img-shadow {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.donut__particle {
  position: absolute;
}

.donut__particle-right {
  right: -30px;
  top: -50px;
  rotate: -37deg;
}

.donut__particle-left {
  bottom: 90px;
  left: -40px;
  rotate: 140deg;
}
